<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Negotiated SLA</h2>
  </div>
  <div class="panel-body ">
    <div class="well">
      A Security SLA has been built according to your choices during the negotiation process.
      <br\> Check it and submit it in order to have it stored in your collection of negotiated SLAs.
        <br\>
          The next steps of the SPECS Application will enable you to sign and implement the SLA.
    </div>

<!--    <button class="btn btn-primary" onclick="submitSLA(); window.location.replace('./sign.do');" data-ng-disabled="!capabilities.length">SUBMIT AGREEMENT</button>-->
<!--    <button class="btn btn-primary" onclick="submitSLA(); window.location.replace('./sign.do');" data-ng-disabled="!processCompleted">SUBMIT AGREEMENT</button>-->
         
         
   <button class="btn btn-primary" ng-click="submitSLA()" data-ng-disabled="!processCompleted">SUBMIT AGREEMENT</button>      
         
         
<!--
    <button class="btn btn-primary" onclick="window.open('data:application/xml,' + encodeURIComponent(_slaOFFER));">DOWNLOAD AGREEMENT </button>
    <div id="SLA-OFFER"></div>
    <button class="btn btn-primary" onclick="submitSLA(); window.location.replace('./sign.do');">SUBMIT AGREEMENT </button>
    <button class="btn btn-primary" onclick="window.open('data:application/xml,' + encodeURIComponent(_slaOFFER));">DOWNLOAD AGREEMENT </button>
-->
  </div>
</div>

<div class="panel panel-primary" ng-show="errorState">
   <div class="panel-body">{{errorMessage}}</div>
</div>
<!--<div class="panel panel-primary" ng-show="!capabilities.length">-->
<div class="panel panel-primary" ng-show="!processCompleted">
<!--   <div class="panel-body">You did not select any control.</div>-->
   <div class="panel-body">{{alertMessage}}</div>
</div>