<div ng-include="'resources/views/navigator.html'"></div>

<div id="form-container">

  <div class="page-header text-center">
    <h1>SPECS Application Negotiation Wizard</h1>

    <comp-navbar/>


    <comp-navbar></comp-navbar>


  </div>
  <!-- show our formData as it is being typed -->
  <pre>
    {{ formData }}
  </pre>



  <!-- use ng-submit to catch the form submission and use our Angular function -->
<!--  <form id="signup-form" ng-submit="processForm()">-->
    <!-- our nested state views will be injected here -->
<!--    <div id="form-views" ui-view></div>-->
<!--    <div id="form-services" ui-view ng-show="false"></div>-->
<!--    <div id="form-capabilities" ui-view ng-show="false"></div>-->
<!--  </form>-->
   
   <form id="signup-form">
      <div id="form-views" ui-view></div>
<!--    <div id="form-services" ui-view ng-show="false"></div>-->
<!--    <div id="form-capabilities" ui-view ng-show="false"></div>-->
   </form>

</div>


<div ng-include="'resources/views/footer.html'"></div>