	<div class="panel panel-default">
						<div class="panel-heading">
							<h2>Start SLA Negotiation</h2>
						</div>
						<div class="panel-body ">
							<div class="well">
								This wizard enables you to negotiate the security level of the
								services you are acquiring. <br /> You will go through several
								steps that will help you select the desired service and the
								security features you are interested in. <br /> At the end of
								the process you will get an SLA that summarizes the guarantees
								that come with your enhanced service.
							</div>
						</div>
					</div>