<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Security Controls</h2>
  </div>
  <div class="panel-body ">
    <div class="well">
      For each selected capability, choose the security controls you are interested in and assign them a score according to the importance you give to them.
      <br /> The listed controls belong to specific security frameworks, such as NIST Security Control Framework and CSA Cloud Control Matrix.
      <br /> Each control is associated with a set of security metrics, on top of which, in the next step, you will be able to define SLOs that will be inserted in a Security SLA.
      <br /> Note that, in case you do not select any control, you will not able to define SLOs in the next step.
    </div>

      <div class="well" ng-show="capabilities.length">

        <div class="panel panel-default" ng-repeat="capability in capabilities">
          <div class="panel-heading">
            <h2>{{capability.name}}</h2>
          </div>
          <div class="panel-body" ng-repeat="framework in capability.frameworks">
        <div class="well">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{framework.name}}</div>

                <table class="table">
                  <col width="55%">
                    <col width="45%">

                      <tr ng-repeat="control in framework.securityControls">
                        <td>

                           <input type="checkbox" name="SC_CBs" id="SC_CB_{{control.id}}" value="{{capability.id}}-{{control.id}}" 
                                 ng-model="formSecurities[capability.id][framework.id][control.id]"/>
                          {{control.name}}
                          <br /> Importance weight:
                          
                           <select id='SC_IMPORTANCE_{{control.id}}'
                                  ng-model="formSecurityCtrl_SecurityControlWeight[control.id]"
                                   ng-disabled="!formSecurities[capability.id][framework.id][control.id]">
                           
                                 <option ng-selected="importance == control.weight" ng-repeat="importance in control.weights" value='{{importance}}'  >{{importance}}</option>

                          </select>
                           
                           <input type="hidden" name="SC_CBs_DFT" id="SC_CB_{{control.weight}}" value="{{control.id}}-{{control.weight}}" 
                                 ng-model="formSecurityCtrl_DefaultSecurityControlWeight[control.id]" ng-init="formSecurityCtrl_DefaultSecurityControlWeight[control.id] = control.weight"/>
                           
                          <br />
                        </td>
                        <td>{{control.description}}</td>

                      </tr>

                </table>

              </div>
            </div>

          </div>
        </div>
      </div>

<!--
      <div class="panel panel-primary" ng-show="!capabilities.length">
        <div class="panel-body">You did not select any capability, therefore no control is displayed.</div>
      </div>
-->
      <div class="panel panel-primary" ng-show="!capabilities.length">
<!--         <div class="panel-body">You did not select any capability, therefore no control is displayed.</div>-->
         <div class="panel-body">{{alertMessage}}</div>
      </div>

    <!--  end of angular general controller -->
  </div>
  <!--  end of panel body -->
</div>
<!-- end panel default -->

<div class="panel panel-primary" ng-show="errorState">
   <div class="panel-body">{{errorMessage}}</div>
</div>