<ul class="nav nav-pills nav-wizard">
        <li ng-class="{ active: isActive('/form/start') }"><a ui-sref=".start" data-toggle="tab">Start</a><div class="nav-arrow"></div></li>
        
              <li ng-class="{ active: isActive('/form/service') }"><div class="nav-wedge"></div><a ui-sref=".service" data-toggle="tab">Select Service</a><div class="nav-arrow"></div></li>
              
              <li ng-class="{ active: isActive('/form/capability') }"><div class="nav-wedge"></div><a ui-sref=".capability"  data-toggle="tab">Select Capabilities</a><div class="nav-arrow"></div></li>
              <li ng-class="{ active: isActive('/form/security') }"><div class="nav-wedge"></div><a ui-sref=".security"  data-toggle="tab">Select Security
									Controls</a><div class="nav-arrow"></div></li>
              <li ng-class="{ active: isActive('/form/agreement') }"><div class="nav-wedge"></div><a ui-sref=".agreement"  data-toggle="tab">Define Agreement
									Terms</a><div class="nav-arrow"></div></li>

        
              <li ng-class="{ active: isActive('/form/overview') }"><div class="nav-wedge"></div><a ui-sref=".overview"  data-toggle="tab">SLA Overview</a></li>
</ul>