<div id="_navigator">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> <img alt="Brand" src="resources/img/specs-logo-32.png"></a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ${param._home}><a href="./">Home</a></li>
					<li ${param._rank}><a href="/specs-negotiation-SecurityReasoner-REM-standalone">CSP Ranking</a></li>
					<li ${param._neg}><a href="./negotiation.jsp">Negotiate SLA</a></li>
					<li ${param._sign}><a href="./sign.do">Sign SLA</a></li>
					<li ${param._impl}><a href="./implement.do">Implement SLA</a></li>
					<li ${param._obs}><a href="./observe.do">Observe SLA</a></li>
				</ul>
			</div>
			
		</div>
	</nav>
</div>

