<div ng-include="'resources/views/navigator.html'"></div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>SPECS Demo Application</h1>
        <p>Welcome to the demonstrator SPECS Application. <br/>
        This wizard will guide you through the main steps of the SLA life cycle, namely:
        <ol> 
        <li>SLA Negotiation</li>
        <li>SLA Implementation</li>
        <li>SLA Monitoring</li>
        </ol>
        <p>Enjoy your SPECS experience!
        </p>
         <p><a class="btn btn-primary btn-large" ui-sref="form.start">Start Negotiation &raquo;</a></p>
      </div>
    </div>

<div ng-include= "'resources/views/footer.html'"></div>

